.profile {
    background-image: url("prof.jpg");
    background-size: 100%;
    min-width: 300px;
    max-width: 900px;
    width: 95%;
    height: 20%;
    border-radius: 10px;
    box-shadow: 0 13px 26px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.16);
    margin: 15px;
}

.profile .left {
    display: flex;
    align-items: center;
    padding-left: 10%;
    float: left;
    width: 40%;
    height: 50%;
    overflow: hidden;
}

.profile .right {
    float: left;
    text-align: right;
    padding-right: 5%;
    width: 45%;
    height: 50%;
    overflow: hidden;
}

.profile .left span {
    font-size: 40px;
}

.profile .right .elo {
    font-size: 20px;
}

.profile .stats {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 50%;
}

.profile .stats .gr {
    color: rgb(70, 150, 70);
}

.profile .stats .rd {
    color: rgb(128, 11, 11);
}

.profile .stats span {
    font-size: 20px;
}

.profile .stats div {
    margin: 0 5%;
}

.games {
    min-width: 300px;
    max-width: 900px;
    width: 95%;
    max-height: 60%;
    border-radius: 10px;
    box-shadow: 0 13px 26px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.16);
    margin: 15px;
    overflow: hidden;
}

.games .history { 
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.games .history table {
    width: 100%;
    height: 100%;
    font-size: 11px;
    border-collapse: collapse;
}

.games .history tr{
    height: 60px;
    text-align: right;
}

.games .history  tr:hover {
    background: rgba(34, 65, 133, 0.3);
}

.games .history td {
    overflow: hidden;
    padding-right: 5%;
    width: 20%;
}

.games .history td:first-child {
    padding-right: 0;
    width: 2%;
}

.games .history td .col {
    width: 10px;
    height: 100%;
    border-radius: 5px;
}

.games .history td .col.won {
    background-color: rgb(70, 150, 70);
}

.games .history td .col.lost {
    background-color: rgb(128, 11, 11);
}

.games .history span.won {
    color: rgb(70, 150, 70);
}

.games .history span.lost {
    color: rgb(223, 24, 24);
}

.games a { text-decoration: none; }

.over {
    min-width: 295px;
    max-width: 895px;
    width: 93%;
    margin-top: 15px;
}

@media screen and (min-width: 850px) {
    .profile .stats div {
        margin-top: 20px;
    }

    .profile .left span {
        font-size: 45px;
    }
    
    .profile .right .elo {
        font-size: 35px;
    }
}

@media screen and (min-width: 400px) {
    .games .history table {
        font-size: 17px;
    }
}