.row {
    height: 35px;
    width: 280px;
    margin: auto;
}

@media screen and (min-width: 400px) {
    .row {
        height: 50px;
        width: 400px;
    }
}

@media screen and (min-width: 600px) {
    .row {
        height: 60px;
        width: 480px;
    }
}

@media screen and (min-width: 800px) {
    .row {
        height: 70px;
        width: 560px;
    }
}