.game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.game .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 70%;
}

.game .side {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30%;
}

.main .end {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    z-index: 10;
    width: 300px;
    height: 220px;
    border-radius: 10px;
    box-shadow: 0 13px 26px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.16);
    animation: slide 0.9s linear;
}

.main .end .players {
    width: 260px;
}

.main .end button {
    margin-top: 10px;
}

.main .end .players div {
    display: inline-block;
    width: 120px;
    text-align: center;
}

.main .end span {
    margin: 5px 20px;
}

.main .end span.won {
    color: rgb(70, 150, 70);
    margin: 0px;
}

.main .end span.lost {
    color: rgb(223, 24, 24);
    margin: 0px;
}

.main .timer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
    border-radius: 8px;
    width: 80%;
    max-width: 760px;
    height: 20px;
    margin: 15px 0;
    padding: 3px;
    box-shadow: 0 13px 26px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.16);
}

.main .timer.turn {
    animation: next 0.5s linear;
}

.main .bar {
    float: left;
    height: 50%;
    flex-grow: 1;
    border-radius: 8px;
    margin: 4px 4px;
    padding: 2px;
    visibility: hidden;
}

.main .bar-inner {
    float: right;
    height: 100%;
    width: 100%;
    border-radius: 4px;
    background-color: rgb(170, 170, 170);
}

.main .loader {
    border: 5px solid #f3f3f3;
    border-top: 5px solid #3498db;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    animation: spin 2s linear infinite;
    float: left;
    margin-right: 10px;
}

.main .player {
    margin: 10px 0;
}

.main span {
    width: 120px;
    text-align: center;
}

.side .pick {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.side .pick button {
    width: 90px;
    margin-top: 8px;
}

.side .direct {
    margin-top: 10px;
}

.side .moves {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    min-width: 300px;
    width: 80%;
    height: 80%;
    border-radius: 10px;
    box-shadow: 0 13px 26px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.16);
}

.side .move-list {
    flex-grow: 1;
    overflow-x: hidden;
    overflow-y: scroll!important;
    padding: 15px;
    min-width: 145px;
    max-height: 60%;
}

.side .row {
    height: 20px;
    width: 100%;
    min-width: 145px;
}

.side .part {
    float: left;
    text-align: center;
    width: 33%;
    animation: 0.3s dash;
}

.side .current {
    background: rgba(49, 90, 179, 0.616);
}

.side .mini-timer {
    height: 5px;
    background: linear-gradient(to right, rgb(70, 83, 197),rgb(161, 49, 49));
}

.side button {
    padding: 5px 6px;
    margin: 2px;
}

@media screen and (min-width: 450px) {
    .main .bar {
        visibility: visible;
    }
}

@media screen and (min-width: 1000px) {
    .side .moves {
        flex-direction: column;
        width: 100%;
        height: 60%;
    }

    .side .sep {
        width: 80%;
        border-top: 1px solid;
        margin: 5px 0;
    }

    .game {
        flex-direction: row;
    }

    .game .main {
        width: 75%;
        height: 100%;
    }

    .game .side {
        width: 25%;
        height: 100%;
    }
}

@media screen and (max-width: 1000px) {
    .side .sep {
        height: 90%;
        border-left: 1px solid;
        margin: 0 5px;
    }
}

@keyframes dash {
    0% {
        opacity: 0;
        transform: translateX(20%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes next {
    0% {
        transform: scale(1); 
    }
    50% {
        transform: scale(1.02);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}