
.clr {
    position: fixed;
    width: 100px;
    height: 300px;
    z-index: 999;
    top: 0;
    right: 30px;
    transition: all 0.5s;
}

.inactiveColor {
    margin-top: -250px;
}

.clrButton {
    width: 70px;
    display: block;
    margin: 15px;
}

.expandButton {
    display: block;
    width: 70px;;
    margin: 15px;
    margin-top: 120px;
}