
a {
    text-decoration: none;
    display: block;
}

a:visited {
    text-decoration: none;
}

.nav {
    height: 100px;
    transition: all 0.5s;
}

.inactiveNav {
    margin-top: -100px;
}

@media screen and (min-width: 650px) {
    .nav {
        float: left;
        width: 150px;
        height: 100vh;
    }

    .inactiveNav {
        margin-left: -150px;
    }
}