
.nav {
    position: fixed;
    width: 150px;
    height: 100vh;
    z-index: 999;
    top: 0;
    left: 0;
    transition: all 0.5s;
}

.inactiveNav {
    margin-left: -150px;
}

a {
    text-decoration: none;
    color: white;
    display: block;
}