.ranking {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.outside .top {
    height: 100px;
}

.outside .bot {
    height: 52px;
}

.outside .gr {
    color: rgb(31, 160, 31);
}

.outside .rd {
    color: rgb(189, 34, 34);
}

.outside {
    min-width: 300px;
    max-width: 850px;
    width: 90%;
    max-height: 75%;
    border-radius: 10px;
    box-shadow: 0 13px 26px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.16);
    overflow: hidden;
}

.outside table {
    width: 100%;
    font-size: 11px;
    border-collapse: collapse;
}

.outside thead tr{
    height: 60px;
    background: linear-gradient(to right, rgb(70, 83, 197),rgb(161, 49, 49));
}

.outside tbody tr:hover {
    background: rgba(34, 65, 133, 0.3);
}

.outside td {
    width: 12%;
    padding-left: 3%;
    overflow: hidden;
}

.outside a {
    text-decoration: none;
}

.outside button {
    padding: 2px;
}

.inside {
    height: 100%;
    overflow: auto;
}

.inside td {
    width: 16.6%;
    padding-left: 4%;
}

.inside tr:nth-of-type(2n) { background: rgba(0,0,0,0.1);}

.react-paginate {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 13px 26px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.16);
}
  
.react-paginate li {
    display: inline-block;
    margin: 0px 15px;
    cursor: pointer;
}

@media screen and (min-width: 400px) {
    .outside table {
        font-size: 17px;
    }
}