.wrap {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 25vh;
    max-width: 400px;
    min-width: 300px;
    min-height: 200px;
    border-radius: 10px;
}

.wrap .rd {
    padding: 10px;
    border-radius: 10px;
    min-width: 260px;
}

.wrap .id {
    font-size: 50px;
    letter-spacing: 10px;
    text-transform: uppercase;
}

.wrap .loader {
    border: 5px solid #f3f3f3;
    border-top: 5px solid #3498db;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    animation: spin 2s linear infinite;
    float: left;
    margin-right: 10px;
}

.wrap .fetch {
    margin: 15px;
    height: 60px;
}

.wrap button {
    margin: 15px;
}

.wrap span {
    margin-top: 10px;
    margin-bottom: 5px;
}

@media screen and (min-width: 1030px) {
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}