.wrap {
    margin: auto;
    margin-top: 25vh;
    max-width: 500px;
    border: solid 2px;
    border-color: rgb(43, 43, 43);
}

.head {
    font-size: 35px;
}

.id {
    font-size: 50px;
    letter-spacing: 10px;
}

.url {
    font-size: 15px;
}

.row:after {
    content: '';
    display: table;
    clear: both;
}

.fetch {
    float: left;
    margin-left: 10px;
}

.loader {
    border: 5px solid #f3f3f3;
    border-top: 5px solid #3498db;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    animation: spin 2s linear infinite;
    float: left;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}