
.dark { background-color: #56585e; }
.dark2 { background-color: #37383b; }
.dark3 { background-color: #262729; }


.light { background-color: #f9fbff; }
.light2 { background-color: #bec0c4; }
.light3 { background-color: #525a6b; }


.blue { background-color: #5874c7; }
.blue2 { background-color: #385abe; }
.blue3 { background-color: #1f46bb; }


.red { background-color: #d3464d; }
.red2 { background-color: #d82525; }
.red3 { background-color: #aa1010; }