button {
    background: transparent;
    color: inherit;
    border: 1px solid rgb(213, 223, 230);
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 14px;
    box-shadow: 0 13px 26px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.16);
}

button:active {
    transform: scale(0.9);
    outline: none;
}

.dark button:hover {
    color: rgb(36, 46, 53);
    background: rgb(213, 223, 230);
}

.light button {
    border: 1px solid rgb(36, 46, 53);
}

.light button:hover {
    color: rgb(213, 223, 230);
    background: rgb(36, 46, 53);
}

a {
    color: inherit;
}

.dark { 
    background-color: rgb(48, 61, 70);
    color: rgb(196, 196, 196); 
}
.dark a:hover {
    color: white;
}
.dark2 { 
    background-color: rgb(37, 47, 53);     
    color: rgb(179, 179, 179); 
}
.dark2 a:hover {
    color: white;
}
.dark3 { 
    background-color: #1c1c1d;     
    color: rgb(219, 219, 219); 
}
.dark3 a:hover {
    color: white;
}

.darkL { background-color: #bdbdca; color: black;}
.darkD { background-color: #4a4a50; }
.darkP { background-color: #377e37; }



.light { 
    background-color: #c7c7c7;
    color: black;
}
.light2 { 
    background-color: #919191;
    color: black;
}
.light3 { 
    background-color: #50545c;
    color: black;
}

.lightL { background-color: #bec0c4; }
.lightD { background-color: #525a6b; }
.lightP { background-color: #377e37; }


::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #e2e2e2;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb {
    background: #777;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}