button {
    background: transparent;
    text-transform: uppercase;
    font-weight: bold;
    color: inherit;
    border: 2px solid rgb(213, 223, 230);
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 13px;
}

button:active {
    transform: scale(0.9);
    outline: none;
}

button:active::after {
    
}

.dark button:hover {
    color: rgb(36, 46, 53);
    background: rgb(213, 223, 230);
}

.light button:hover {
    color: rgb(213, 223, 230);
    background: rgb(36, 46, 53);
}

a {
    color: inherit;
}

.dark { 
    background-color: rgb(48, 61, 70);
    color: rgb(196, 196, 196); 
}
.dark a:hover {
    color: white;
}
.dark2 { 
    background-color: rgb(37, 47, 53);     
    color: rgb(179, 179, 179); 
}
.dark2 a:hover {
    color: white;
}
.dark3 { 
    background-color: #1c1c1d;     
    color: rgb(219, 219, 219); 
}
.dark3 a:hover {
    color: white;
}

.darkL { background-color: #bdbdca; }
.darkD { background-color: #4a4a50; }
.darkP { background-color: #377e37; }



.light { 
    background-color: #c7c7c7;
    color: black;
}
.light2 { 
    background-color: #919191;
    color: black;
}
.light3 { 
    background-color: #50545c;
    color: black;
}

.light button {
    border: 2px solid black;
}

.lightL { background-color: #bec0c4; }
.lightD { background-color: #525a6b; }
.lightP { background-color: #377e37; }