
.dark { background-color: #56585e; }
.dark2 { background-color: #37383b; }
.dark3 { background-color: #262729; }
.darkL { background-color: #bdbdca; }
.darkD { background-color: #4a4a50; }
.darkP { background-color: #377e37; }


.light { background-color: #f9fbff; }
.light2 { background-color: #bec0c4; }
.light3 { background-color: #525a6b; }
.lightL { background-color: #bec0c4; }
.lightD { background-color: #525a6b; }
.lightP { background-color: #377e37; }


.blue { background-color: #5874c7; }
.blue2 { background-color: #385abe; }
.blue3 { background-color: #1f46bb; }
.blueL { background-color: #b3bedd; }
.blueD { background-color: #223e91; }
.blueP { background-color: #377e37; }


.red { background-color: #d3464d; }
.red2 { background-color: #d82525; }
.red3 { background-color: #aa1010; }
.redL { background-color: #f0b6b6; }
.redD { background-color: #912727; }
.redP { background-color: #377e37; }